# Ignora pastas/arquivos grandes
venv/
src/
.venv/
data/
*.csv
*.pkl

# Permite diretórios e arquivos essenciais dentro da raiz
!.gitignore
!README.md
!requirements.txt
!tests/
!.github/
!main.py
main2.py
!notebooks/
!output/
